

language: node_js
node_js:
  - 8.12.0


before_install:
  - openssl aes-256-cbc -K $encrypted_024e66b057a6_key -iv $encrypted_024e66b057a6_iv
      -in id_rsa.enc -out ~\/.ssh/id_rsa -d 
  - chmod 600 ~/.ssh/id_rsa
  - echo -e "Host 39.108.65.147ntStrictHostKeyChecking non" >> ~/.ssh/config
  
addons:
 ssh_known_hosts: 39.108.65.147


script:
  - ls
after_success:
 - scp -o stricthostkeychecking=no -r ./* root@39.108.65.147:/root/www/wwwroot/hello/
branches:
  only:
    - master
