
sudo: false
language: node_js
node_js:
  - 12
cache: npm
install:
  - yarn
branches:
  only:
    - master


addons:
  ssh_known_hosts: ${IP}    

before_install:
  - openssl aes-256-cbc -K $encrypted_024e66b057a6_key -iv $encrypted_024e66b057a6_iv
    -in id_rsa.enc -out ~/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa
script:
  - ls
  
after_success:
  - ssh -o StrictHostKeyChecking=no root@${IP} 'cd /www/wwwroot/blog.genji.xyz'
  - ls